{% extends "base.html" %}

{% block content %}
<div class="input-append">
    <input id="tagsearch" type="text"><input type="hidden" id="hid_id">
    <button class="btn" id="search" type="button">Sök på tagg</button>
</div>

        {% for education in education_list %}
            <h2>{{ education.name }}</h2>

            <ul>
                {% for companies in education.companies.all %}

                    <a href="/company/{{ companies.id }}"><li>{{ companies.name }}</li></a>

                {% endfor %}
            </ul>
            <br/>

        {% endfor %}

{% endblock %}
{% block scripts %}
    <script>


        $(function() {

            $("#tagsearch").autocomplete({
                source: "/company/tagsearch/",
                minLength: 0,
                focus: function( event, ui ) {
                    $( "#tagsearch" ).val( ui.item.label );
                    return false;
                },
                select: function( event, ui ) {
                    $( "#tagsearch" ).val( ui.item.label );
                    $( "#hid_id").val ( ui.item.value );


                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

            $("#search").click(function(){
                if( $("#hid_id").val() != ''){

                    window.location.href = "/company/companysearch/"+ $("#hid_id").val();
                }
            });



        });
    </script>


{% endblock %}