{% extends "base.html" %}

{% block headermeny %}
<li class="active">Företag</li>
{% endblock %}


{% block content %}
    <div class="input-append">
        <input id="tagsearch" type="text"><input type="hidden" id="hid_id">
        <button class="btn" id="search" type="button">Sök på tagg</button>
    </div>

    {% for education in education_list %}
        <h2>{{ education.name }}</h2>

        <ul>
            {% for companies in company_list %}

                {% for edu in companies.education.all %}
                    {% if edu.name == education.name %}


                        <li><a href="/company/{{ companies.id }}">{{ companies.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </ul>
        <br/>

    {% endfor %}

    {% if company_wo_edu_list %}
        <h2>Övriga</h2>
            <ul>
                {% for company in company_wo_edu_list %}
                    <li><a href="/company/{{ company.id }}">{{ company.name }}</a></li>
                {% endfor %}
               </ul>
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="/static/js/companylist/search.js"></script>


{% endblock %}