{% extends "base.html" %}

{% block headermeny %}
<li><a href="/schoolclass/">Klasser</a> <span class="divider">/</span></li>
<li class="active">Studentinformation</li>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/student/student.js"></script>
{% endblock %}
{% block content %}
    {% if student %}
    <div class="company">
        <h5>{{ student.name }}</h5>
        <form id="editStudentForm" action="/student/{{ student.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ edit_form.as_table }}
            </table>
            <button class="btn" id="edit" style="display:block">Redigera</button>
            <button class="btn btn-primary" id="save" type="submit" style="display:none;float:left;">Spara</button>
            <button class="btn" id="cancel" type="reset" style="display:none;float:left;margin-left:5px;">Avbryt</button>
            <div style="clear:both;"></div>
        </form>
        <h5>Kurs</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Namn</th><th>Företag</th><th>Företagskontakt</th><th>Framsteg</th>
                </tr>
            </thead>
            {% if participants %}


            <tbody>
                {% for something in participants %}
                <tr>
                    <td>{{ something.course_id.name }}</td>
                    
                    
                    
                    <td>
                        <input type="hidden" id="participate_hid" value="{{something.id}}">
                        <select id="select_company">
                            <option value="välj Företag">Välj Företag</option>
                            {% for companies in companies %}
                                {% if companies.id == something.company_id.id %}
                                    <option value="{{companies.id}}" selected>{{companies.name}}</option>
                                {% else %}
                                    <option value="{{companies.id}}">{{companies.name}}</option>
                                {% endif %}
                                
                                
                                
                            {% endfor %}
                        </select>
                        
                    </td>
                    
                    
                    
                    <td>
                        <select id="select_contact_person">
                            <option value="välj kontakt person">Välj kontakt person</option>
                            {% for contact_persons in contact_persons %}
                                {% if contact_persons.company_id.id == something.company_id.id %}
                                    {% if contact_persons.id == something.contact_person_id.id %}
                                        <option value="{{contact_persons.id}}" selected>{{contact_persons.first_name}} {{contact_persons.last_name}}</option>
                                    {% else %}
                                        <option value="{{contact_persons.id}}">{{contact_persons.first_name}} {{contact_persons.last_name}}</option>
                                    {% endif %}
                                    
                                {% endif %}
                                
                                
                            {% endfor %}
                        </select>
                        
                        
                    </td>
                    
                    
                    
                    
                    <td>
                        {% for step in part %}
                            {% if step.participate == something %}
                                {% if step.done %}
                                    <span id="{{ step.id }}" class="label label-success">
                                {% else %}
                                    <span id="{{ step.id }}" class="label label-important">
                                    {% endif %}

                                {{ step.name }}
                            </span>
                            {% endif %}
                            {% endfor %}



                    </td>
                </tr>
                {% endfor %}
            </tbody>

            {% else %}
            <tbody>
                <tr>
                    <td>Det finns inga kurser att visa...</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
    {% else %}
        <p>Något gick fruktansvärt fel...</p>
    {% endif %}
{% endblock %}