{% extends "base.html" %}
{% block content %}
    <div>
        <div>
            <a href="/createpage/something"><button>Create one</button></a>
            <a href="/createpage/something"><button>Create two</button></a>
            <a href="/createpage/something"><button>Create tre</button></a>
            <a href="/createpage/something"><button>Create four</button></a>
            <a href="/createpage/something"><button>Create five</button></a>
            <a href="/createpage/something"><button>Create six</button></a>
            <a href="/createpage/something"><button>Create seven</button></a>
            <a href="/createpage/something"><button>Create eight</button></a>
            
        </div>
        
        <div>
            Form
            
        </div>
        
    </div>


{% endblock %}



