{% extends "base.html" %}
{% block content %}
    <div>
        <div class="buttons">
            <a href="/createpage/createschoolclass"><button class="btn btn-small btn-primary">Schoolclass</button></a>
            <a href="/createpage/createcompany"><button class="btn btn-small btn-primary">Company</button></a>
            <a href="/createpage/createcontact_person"><button class="btn btn-small btn-primary">Contact person</button></a>
            <a href="/createpage/createcourse"><button class="btn btn-small btn-primary">Course</button></a>
            <a href="/createpage/createeducation"><button class="btn btn-small btn-primary">Education</button></a>
            <a href="/createpage/createstep"><button class="btn btn-small btn-primary">Step</button></a>
            <a href="/createpage/createstudent"><button class="btn btn-small btn-primary">Student</button></a>
            <a href="/createpage/createtag"><button class="btn btn-small btn-primary">Tag</button></a>
            
        </div>
        
        {% block form %}{% endblock %}
        
    </div>

{% endblock %}



