{% extends "base.html" %}

{% block content %}
    {% block body %}
        {% if info_list %}
            <h1> nyh</h1>

            <ul class="thumbnails">
            <!--
                {% for ad in info_list %}
                    <li class="span4">
                        <div class="thumbnail">
                            <p>{{ ad.id }}</p>
                            <p>{{ ad.address }}</p>
                            <p>{{ ad.phonenummber }}</p>
                            <p>{{ ad.email }}</p>
                            <p>{{ ad.website }}</p>
                            <p>{{ ad.descrition }}</p>

                            <h3>{{ ad.title }}</h3>
                            <p><i class="icon-list"></i> {{ad.description}}</p>


                        </div>
                    </li>
                {% endfor %}
                -->
                <form action="/company/{{ company.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ companyform.as_table }}
                </table>
                    <button type="submit" class="btn btn-primary">KLICKA PA MIG</button>
                </form>
            </ul>
        {% else %}
            <p>No ads are available.</p>

        {% endif %}
    {% endblock %}
{% endblock %}