{% extends "base.html" %}

{% block content %}

        <h2> {{ company.name }}</h2>
        <form action="/company/{{ company.id }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ companyform.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">KLICKA PA MIG</button>
            <button type="reset" class="btn btn-secondary">Ångra ändringar</button>
        </form>

        {% if contactperson_list %}


                <div class="">
                    <h3>Företagskontakter</h3>
                    <hr>
                    <table class="table-bordered">
                    <tr>
                        <td>Namn</td><td>Titel</td><td>Telnr</td><td>Email</td><td>Beskrivning</td>
                    </tr>
                    {% for person in contactperson_list %}
                        <tr>
                            <td>{{ person.first_name }} {{ person.last_name }}</td>
                            <td>{{ person.title }}</td>
                            <td>{{ person.phone_number }}</td>
                            <td>{{ person.email }}</td>
                            <td>{{ person.description }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>


        {% else %}
            <p>Inga kontaktpersoner kopplade till företaget.</p>
        {% endif %}

{% endblock %}