{% extends "base.html" %}

{% block content %}
    {% block body %}
        {% if ad_list %}
            <h1> nyh</h1>

            <ul class="thumbnails">
                {% for ad in ad_list %}
                    <li class="span4">
                        <div class="thumbnail">
                            <a href="/annonser/{{ad.id}}" class="thumbnail">
                                <img src="{{MEDIA_URL}}{{ad.image}}">
                            </a>
                            <h3>{{ ad.title }}</h3>
                            <p><i class="icon-list"></i> {{ad.description}}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No ads are available.</p>

        {% endif %}
    {% endblock %}
{% endblock %}