{% load dajaxice_templatetags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>{% block title %} KYH Overview {% endblock %}</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width">

	    <link rel="stylesheet" href="/static/css/bootstrap.css">
	    <link rel="stylesheet" href="/static/css/main.css">

	    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body>
<body>

	<div class="container">
		<div class="row">
				
			<!-- start: Main Menu -->
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<div class="imgresp">
						<img src="/static/img/kyh.png" style="margin-top:20px;">
					</div>
                    {% if is_logged_in %}
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#"><i class="icon-list-alt icon-white"></i><span class="hidden-tablet"> Klasser</span></a></li>
						<li><a href="#"><i class="icon-briefcase icon-white"></i><span class="hidden-tablet"> Företag</span></a></li>
						<li><a href="#"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> Skapa</span></a></li>
						<li><a href="#"><i class="icon-lock icon-white"></i><span class="hidden-tablet"> Logga ut</span></a></li>
					</ul>
                    {% endif %}
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
			
			<!-- start: Content -->
			<div class="content">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li><a href="#">Library</a> <span class="divider">/</span></li>
					<li class="active">Data</li>
				</ul>			
			<hr>
			
			
			
			<!-- INNEHÅLL HÄR UNDER -->
			{% block content %}{% endblock %}
	
			
			</div><!--/content-->
			<!-- end: Content -->			
		</div><!--/row-->

		
		<div class="clearfix"></div>
		
		<footer>


		</footer>
				
	</div><!--/.fluid-container-->
        
    <!-- Le javascript
    -------------------------------------------------------------------------------->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block scripts %}
    {% endblock %}

    </body>
</html>
